.box {
  width: 15vw;
  height: 45vh;
  border: 3px solid #1ECD97;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
 /* background: darken #eff3f9,20%; */
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-width: 200px;
  min-height: 350px;

  background: rgba(139, 138, 138, 0.1);
  color: #1ECD97;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  z-index: 4;
}

.location {
  text-align: center;
  font-weight: 800;

  color: #1ECD97;
}

.date {
  text-align: center;
  margin-top: 5%;
  color: lighten(grey, 10%);
  font-size: 70%;
}

.temp {
  margin-top: 10%;
  text-align: center;
  color: #1ECD97;
}

.weathercon {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

@media (max-width: 600px) {
  .box {
    width: 90vw;
    height: 80vh;
  }

  .wave {
    top: 85%;
  }

  .weathercon {
    font-size: 5em;
  }

  .info {
    font-size: 1.5rem;
  }
}

@media (max-height: 500px) {
  .box {
    height: 80vh;
  }

  .wave {
    top: 115%;
  }
}

body > span {
  width: 100vw;
  text-align: center;
  color: grey;
}


